<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="title" value="LetzteChance.Org - SQLite Launcher"/>
    <add key="database" value="lc.db"/>
    <add key="table" value="url"/>
    <add key="col" value="name"/>
    <add key="selectedCol" value="0"/>
    <add key="help" value="https://www.letztechance.org"/>
  </appSettings>

</configuration>
