<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="hbm2ddl.auto">update</property>        
        <property name="dialect2">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url2">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/employ?zeroDateTimeBehavior=convertToNull</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
        <property name="connection.driver_class2">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    
    <mapping resource="blog.hbm.xml"/>
    </session-factory>

</hibernate-configuration>