<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LC2About.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WebClientGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LC2About.Properties.Settings>
            <setting name="WebClientGUI_PHPWebService_LetzteChance_Org_WebService" serializeAs="String">
                <value>http://www.letztechance.org/mobile/webservices/server.php</value>
            </setting>
            <setting name="WebClientGUI_CryptWebService_My_WebService" serializeAs="String">
                <value>http://www.letztechance.org/mobile/webservices/server.php</value>
            </setting>
            <setting name="LC2About_org_letztechance_www_LetzteChance_Org_WebService" serializeAs="String">
                <value>http://www.letztechance.org/mobile/webservices/server.php</value>
            </setting>
        </LC2About.Properties.Settings>
        <WebClientGUI.Properties.Settings>
            <setting name="WebClientGUI_PHPWebService_LetzteChance_Org_WebService" serializeAs="String">
                <value>http://www.letztechance.org/mobile/webservices/server.php</value>
            </setting>
            <setting name="WebClientGUI_CryptWebService_My_WebService" serializeAs="String">
                <value>http://www.letztechance.org/mobile/webservices/server.php</value>
            </setting>
        </WebClientGUI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
